<!DOCTYPE html>
<html>

<head>
    <script src="/js/jquery-1.11.1.js"></script>
    <script src="/js/handlebars-v1.3.0.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/analytics.js"></script>
    <script src="/js/data.js"></script>
    <script src="/js/cbhelper.js"></script>
    <script src="/js/popup.js"></script>
    <link rel="stylesheet/less" href="/css/popup.less" />
    <script src="/js/less-1.7.3.min.js"></script>
    <meta charset=utf-8 />
    <title>Forum Buddy</title>
</head>

<body>
    <div class="container">
        <script id="template" type="text/x-handlebars-template">
            <div class="banner">
            </div>
            <div class="header">
                <span class="avi">
                    <img id="timeline_avi" src="{{avi}}">
                </span>
                <span class="personalinfo">
                    <a class="username">{{user}}</a>
                    <a class="usercp" href="http://forum.bodybuilding.com/usercp.php" target="_blank"><button type="button">User CP</button></a>
                    <a class="forumhome" href="http://forum.bodybuilding.com" target="_blank">Forum Homepage</a>
                </span>
                <span class ="actions">
                    <a class="readposts">Read Posts</a>
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" {{switch}}>
                        <label class="onoffswitch-label" for="myonoffswitch">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </span>
            </div>
            <div class = "tabs">
            <span class="mentions">
                <a><span class="icon">c</span> Mentions</a>
            </span>
            <span class="markall">
                <a>Mark all:</a>
                <button class="mark-btn" id="read" type="button">Read</button>
                <button class="mark-btn" id="unread" type="button">Unread</button>
            </span>
            </div>
            <div class="scrollcontainer">
                <div class="timeline">
                    {{#each this}}
                    <div class="post {{addClasses}}" id="{{@index}}">
                        <div class="posttop">
                            <span class="postdate">
                                <span class="date">{{fullDate}}</span>
                                <a class='close' >x</a>
                            </span>
                        </div>
                    <div class="postbody">
                            <span class="postinfo">
                                <a class="author" href="{{postAuthorLink}}" target="_blank"><span class="icon">U</span>{{postAuthor}}</a>
                                <a class="title" href="{{postLink}}" target="_blank">{{threadTitle}}</a>
                                <a class="desc">{{Desc postDescLong postDesc}}</a>
                            </span>
                        </div>
                    </div>
                {{/each}}
                </div>
            </div>
        <div class="footer">
            <a href="javascript:void(0)" id="popout">D</a>
            <div class="account-select">
            <select id="account-select-input">
                <option value="bodybuilding">forum.bodybuilding.com</option>
            </select>
            </div>
            <a href="/src/options/index.html" target="_blank" class="settings">S</a>
        </div>
    </div>
        </script>
    </div>
</body>

</html>

